 <h2 style="text-align:center;margin:5vh 0;font-weight:lighter;color:rgb(164, 16, 120);">List of Interns</h2>
 <table>
    <thead>
    <tr>
        <td style="color:rgb(102, 6, 193);font-weight:700;">Intern</td>
        <td style="color:rgb(102, 6, 193);font-weight:700;">E-mail</td>
        <td style="color:rgb(102, 6, 193);font-weight:700;">Region</td>
        <td style="color:rgb(102, 6, 193);font-weight:700;">First Name</td>
        <td style="color:rgb(102, 6, 193);font-weight:700;">Last Name</td>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let intern of InternsTable" >
        <td><img  class="rounded-circle" src="{{intern.image}}" style="width:3vw;height:5vh;mix-blend-mode:multiply;"></td>
        <td>{{intern.email}}</td>
        <td>{{intern.region}}</td>
        <td>{{intern.fName}}</td>
        <td>{{intern.lName}}</td>
        <td><a class="btn btn-danger" href="">Delete</a></td>
    </tr>
</tbody>
 </table>