<!DOCTYPE html>
<html>
<head>
</head>
<body>

<h2>You are Hiring </h2>
<p class="container"><strong> fill in all the fields accurately to help those who are looking for opportunities.</strong>..</p>
<div class="container">
  <form action="/action_page.php">
  <div class="row">
    <div class="col-25">
      <label for="fname">First Name</label>
    </div>
    <div class="col-75">
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="lname">Last Name</label>
    </div>
    <div class="col-75">
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="image">Image</label>
    </div>
    <div class="col-75">
      <input type="text" id="image" name="image" placeholder="Link of your image..">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="region">Region</label>
    </div>
    <div class="col-75">
      <select id="region" name="region">
        <option value="Ariana">Ariana</option>
        <option value="Ben Arous">Ben Arous</option>
        <option value="Sfax">Sfax</option>
        <option value="Beja">Beja</option>
        <option value="Siliena">Siliena</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="subject">Subject</label>
    </div>
    <div class="col-75">
      <textarea id="subject" name="subject" placeholder="Specify more informations about this opportunity" style="height:200px"></textarea>
    </div>
  </div>
  <br>
  <div class="row">
    <input type="submit" value="Submit">
  </div>
  </form>
</div>

</body>
</html>


