<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
  <div class="container">
  <div class="row">
    <div class="col-md-6">
  <form method="get" >
   <div class="row">
    <div class="col-25">
      <label class="label" for="compName">Compagny</label>
    </div>
    <div class="col-75">
      <textarea [(ngModel)]="hire.compName" id="compName" name="compName" placeholder="compagny name" ></textarea>
    </div> 
    </div>
  <div class="row">
    <div class="col-25">
      <label class="label" for="local">Region</label>
    </div>
    <div class="col-75">
      <textarea [(ngModel)]="hire.local" id="local" name="local" placeholder="Your region"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label class="label" for="contenu">Subject</label>
    </div>
    <div class="col-75">
      <textarea  [(ngModel)]="hire.contenu" id="contenu" name="contenu" placeholder="Specify more informations about this opportunity" style="height:200px"></textarea>
    </div>
  </div>
  <br>
  <div class="row">
    <input (click)="hiring()" type="submit" value="SUBMIT">
  </div>
  </form>
</div>
<div class="col-md-6">
  <h1 class="hiring">HIRING NOW</h1>
</div>
</div>
</div>
</div>
</body>
</html>


