<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2>You are Hiring </h2>
<p class="container"><strong> fill in all the fields accurately to help those who are looking for opportunities.</strong>..</p>
<div class="container">
  <form method="get" >
   <div class="row">
    <div class="col-25">
      <label for="compName">Compagny</label>
    </div>
    <div class="col-75">
      <textarea [(ngModel)]="hire.compName" id="compName" name="compName" placeholder="" ></textarea>
    </div> 
    </div>
  <div class="row">
    <div class="col-25">
      <label for="local">Region</label>
    </div>
    <div class="col-75">
      <textarea [(ngModel)]="hire.local" id="local" name="local" placeholder="Your region"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="contenu">Subject</label>
    </div>
    <div class="col-75">
      <textarea  [(ngModel)]="hire.contenu" id="contenu" name="contenu" placeholder="Specify more informations about this opportunity" style="height:200px"></textarea>
    </div>
  </div>
  <br>
  <div class="row">
    <input (click)="hiring()"  type="submit" value="Submit">
  </div>
  </form>
</div>

</body>
</html>


