<div class="container" style="border-radius:30px;margin-top:7vh;margin-bottom:10vh" >
    <div class="row" style="box-shadow: 3px 3px black, -1em 0 .4em olive;margin:0% 10vw;background-color:olive;border-radius:30px">
<!--as intern-->
    <div class="col-md-6 rounded-left bg_sign_in" style="border-radius:30px;background-color:white">
        <h3 class="center">sign in as intern</h3>
        <form style="margin:0% 3vw">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control rounded" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control rounded" id="exampleInputEmail1" aria-describedby="emailHelp">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control rounded" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control rounded" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn" style="margin-bottom:4%;margin-right:25%;background-color:olive">Submit</button>
            <button type="reset" class="btn" style="margin-bottom:4%;background-color:olive">cancel</button>
          </form>

    </div>
<!--as Hr-->
    <div class="col-md-6" style="display:block">
        <h3 class="center">sign in as Hr</h3>
        <form style="margin:0% 3vw">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control rounded" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control rounded" id="exampleInputEmail1" aria-describedby="emailHelp">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control rounded" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control rounded" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn" style="background-color:white;color:black;border-radius:30px;margin-right:25%">Submit</button>
            <button type="reset" class="btn" style="background-color:white;color:black;border-radius:30px">cancel</button>
          </form>
        
    </div>
</div>

</div>
