
<div class="row" style="margin-top:3vh;margin-left:10vw;background: rgb(240,45,223);background: linear-gradient(90deg, rgba(240,45,223,1) 0%, rgba(150,36,187,1) 0%, rgba(137,35,182,1) 12%, rgba(90,30,164,1) 41%, rgba(33,60,173,1) 91%, rgba(39,24,144,1) 100%);">
  <div class="col-md-3" style="margin-top:6vh">
     <img src="./assets/rocket.png" style="mix-blend-mode:color-burn;height:12vh;margin-left:6vw">
     <h3 style="text-align:center;color:white">Welcome</h3>
     <p style="text-align:center;color:white">It's a platform dedicated to support internships seekers and make their professional experiences more interesting by sharing it with us.</p>
     <button type="submit" style="margin-top:6px;padding:7px;width:7em;margin-bottom:1px;margin-left:5vw;background-color:white;border-radius:30px;border:none;box-shadow: 0px 5px 5px rgba(0,0,0,0.2)" routerLink="/signinHr">Sign in as HR</button>
  </div>
  <div class="col-md-9">
    <div style="height:1vh"></div>
    <div style="background-color:white;border-radius: 80px 5px 5px 80px;margin-right:2vw;height:100%;">
      <p style="text-align:center;font-weight:bold;font-size:30px;padding-top:8vh;padding-bottom:4vh"> sign in as Intern</p>
      <form [formGroup]="registerForm"  class="form" style="width:90%;padding-left:5vw;margin-top:1vh" >
          <div style="display:flex;padding-bottom:1vh">
          <input [(ngModel)]="intrn.fName"  style="background-color:transparent;margin-right:1vw" type="text" class="form-control rounded" id="prenom" name="prenom" placeholder="First Name" formControlName="prenom">
          <input [(ngModel)]="intrn.lName"  style="background-color:transparent" type="text" class="form-control rounded" id="nom" name="nom"  formControlName="nom" placeholder="Last Name">
          </div>
          <div style="display:flex;padding-bottom:1vh">
            <input [(ngModel)]="intrn.region" style="background-color:transparent;margin-right:1vw" type="text" class="form-control rounded" id="region" name="region" formControlName="region" placeholder="tape your state">
            <input  [(ngModel)]="intrn.image"style="background-color:transparent" type="text" class="form-control rounded" id="img" name="image" formControlName="image" placeholder="link of your profile image" value="2222">
            </div>
            <div style="display:flex;padding-bottom:1vh">
              <input [(ngModel)]="intrn.email" style="background-color:transparent;margin-right:1vw" type="email" class="form-control rounded" id="mail" name="mail" formControlName="mail" placeholder="email adress">
              <input [(ngModel)]="intrn.password" style="background-color:transparent" type="password" class="form-control rounded" id="pass" name="pass" formControlName="pass" placeholder="password">
              </div>
          <button routerLink="/home" (click)="onSignIn()"  type="submit" class="btn" style="background-color:rgb(155, 7, 165);color:white;border-radius:30px;margin-left:66%;width:7em;margin-right:1vw;box-shadow: 0px 5px 5px rgba(0,0,0,0.2)">Register</button>
      </form>
      </div>
    </div>
</div>


<div style="height:15vh"></div>
