<h2 style="text-align:center;margin:5vh 0;font-weight:lighter;color:rgb(164, 16, 120);">List of HRs</h2>
 <table>
    <thead>
    <tr>
        <td style="color:rgb(102, 6, 193);font-weight:700;">HR</td>
        <td style="color:rgb(102, 6, 193);font-weight:700;">E-mail</td>
        <td style="color:rgb(102, 6, 193);font-weight:700;">Name</td>
        <td style="color:rgb(102, 6, 193);font-weight:700;">Compagny</td>
        <td style="color:rgb(102, 6, 193);font-weight:700;">Localisation</td>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let hr of HrsTable" >
        <td><img  class="rounded-circle" src="{{hr.image}}" style="width:3vw;height:5vh;mix-blend-mode:multiply;"></td>
        <td>{{hr.email}}</td>
        <td>{{hr.fName}} {{hr.lName}}</td>
        <td>{{hr.compName}}</td>
        <td>{{hr.local}}</td>
        <td><a (click)="supprimer(hr)" class="btn btn-danger" href="">Delete</a></td>
    </tr>
</tbody>
 </table>