#tout{
    background-color: #eee; 
}

.story{
    margin-bottom:3vh;
}

.bg{
    background-image: url('https://media.npr.org/assets/img/2022/04/26/npr_moth-final_slide-30c2bb454542835c4cde4a63ad1fa4538116d950-s900-c85.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: darkblue;
}
