#tout{
    background-color: #eee; 
}

.story{
    margin-bottom:3vh;
}

.bg{
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210926/pngtree-black-color-glassmorphism-design-image_880657.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
