#tout{
    background-color: #fff; 
    
}
input [placeholder]{
    color:#fff;
}
.story{
    margin-bottom:3vh;
}

.bg{
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/008/171/873/small_2x/abstract-boxes-background-modern-technology-with-square-mesh-geometric-on-white-background-with-lines-cube-cell-illustration-free-vector.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   
}
input:hover{
    background: #fff;
}