
<div class="row" style="margin-top:3vh;margin-left:10vw;background: rgb(240,45,223);
background: linear-gradient(90deg, rgba(240,45,223,1) 0%, rgba(137,35,182,1) 0%, rgba(90,30,164,1) 15%, rgba(88,33,161,1) 17%, rgba(15,153,44,1) 100%);;">
    <div class="col-md-3" style="margin-top:6vh">
       <img src="./assets/rocket.png" style="mix-blend-mode:color-burn;height:12vh;margin-left:6vw">
       <h3 style="text-align:center;color:white">Welcome</h3>
       <p style="text-align:center;color:white">It's a platform dedicated to support internships seekers and make their professional experiences more interesting by sharing it with us.</p>
       <button type="submit" style="width:10em;margin-bottom:1px;margin-left:5vw;background-color:white;border-radius:30px;border-color:white" routerLink="/signin">Sign in as Intern</button>
    </div>
    <div class="col-md-9">
      <div style="height:1vh"></div>
      <div style="background-color:white;border-radius: 80px 5px 5px 80px;margin-right:2vw;height:100%;">
        <p style="text-align:center;font-weight:bold;font-size:30px;padding-top:8vh;padding-bottom:4vh"> sign in as HR</p>
        <form [formGroup]="registerFrm" style="width:90%;padding-left:5vw;margin-top:1vh">
          <div style="display:flex;padding-bottom:1vh">
            <input [(ngModel)]="hr.fName" style="background-color:transparent;margin-right:1vw" type="text" class="form-control rounded" id="prenom" name="prenom" placeholder="First Name">
            <input [(ngModel)]="hr.lName" style="background-color:transparent" type="text" class="form-control rounded" id="nom" name="nom" placeholder="Last Name">
            </div>
            <div style="display:flex;padding-bottom:1vh">
            <input  [(ngModel)]="hr.email"  style="background-color:transparent;margin-right:1vw" type="email" class="form-control rounded" id="mail" name="mail" placeholder="Email address">
            <input   [(ngModel)]="hr.password" style="background-color:transparent" type="password" class="form-control rounded" id="pass" name="pass" placeholder="Password">
            </div>
            <div style="display:flex;padding-bottom:1vh">
              <input  [(ngModel)]="hr.local" style="background-color:transparent;margin-right:1vw" type="text" class="form-control rounded" id="region" name="region" placeholder="Localisation of compagny">
              <input  [(ngModel)]="hr.image" style="background-color:transparent" type="text" class="form-control rounded" id="image" name="image" placeholder="Link of your profile image">
              </div>
              <input  [(ngModel)]="hr.compName" style="background-color:transparent;width:49%" type="text" class="form-control rounded" id="compa" name="compa" placeholder="Your compagny name">     
            <button  routerLink="/home" (click)="onSignIn()"  type="submit" class="btn" style="background-color:rgb(155, 7, 165);border:none;border-radius:30px;margin-left:66%;width:7em;margin-right:1vw">Register</button>
        </form>
        </div>
      </div>
    </div>

    <div style="height:15vh"></div>
