<div id="tout">
<div  class="container">
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-6 rounded" id="profil">
<div class="couverture">

<img src={{image}} class="rounded-circle">
</div>
<div class="coordonnes">
<h2>{{prenom}} {{nom}}</h2>
<p>{{internService.loggedUser}}</p>
<!-- <p *ngIf="NewbioT[0]">{{NewbioT[0]}}</p> -->
<div class="local">Habite à :{{region}}</div>
</div>
<!-- <input type="text" [(ngModel)]="biog"> -->
<!-- <button (click)="bio()">ok</button> -->
</div>
<div class="col-md-2"></div>
</div>
</div>
</div>