<div id="tout">
<div class="container">
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-6 rounded" id="profil">
<a style="padding:5px 10px;justify-content: center;align-items: center;background:#000;width:35px;height:35px;border-radius:50%;float:right;color:#fff;font-weight:bold;margin-right:1vw;margin-top: 1vw" (click)="maj()"><i class="fas fa-pen"></i></a>
<div class="couverture">

<img id="imge" src={{image}} class="rounded-circle">

</div>
<div class="coordonnes">
<h2>{{prenom}} {{nom}}</h2>
<p class="local">{{fonction}}</p>
<p>{{internService.loggedUser}}</p>

<!-- <p *ngIf="NewbioT[0]">{{NewbioT[0]}}</p> -->
<div class="local">From :{{region}}</div>
</div>
<!-- <input type="text" [(ngModel)]="biog"> -->
<!-- <button (click)="bio()">ok</button> -->
</div>
<div class="col-md-4">
  
    <form *ngIf="this.clickForUpdating && !bool" class="form" style="width:100%;margin:5vh 1vw" >
      <div style="display:flex;padding-bottom:1vh">
      <input [(ngModel)]="intrn.fName"  style="background-color:transparent;margin-right:1vw" type="text" class="form-control rounded" id="prenom" name="prenom" placeholder="First Name" formControlName="prenom">
      <input [(ngModel)]="intrn.lName"  style="background-color:transparent" type="text" class="form-control rounded" id="nom" name="nom"  formControlName="nom" placeholder="Last Name">
      </div>
      <div style="display:flex;padding-bottom:1vh">
        <input [(ngModel)]="intrn.region" style="background-color:transparent;margin-right:1vw" type="text" class="form-control rounded" id="region" name="region" formControlName="region" placeholder="tape your state">
        <input  [(ngModel)]="intrn.image"style="background-color:transparent" type="text" class="form-control rounded" id="img" name="image" formControlName="image" placeholder="link of your profile image">
        </div>
        <div style="display:flex;padding-bottom:1vh">
          <input [(ngModel)]="intrn.email" style="background-color:transparent;margin-right:1vw" type="email" class="form-control rounded" id="mail" name="mail" formControlName="mail" placeholder="email adress">
          <input [(ngModel)]="intrn.password" style="background-color:transparent" type="password" class="form-control rounded" id="pass" name="pass" formControlName="pass" placeholder="password">
          </div>
      <button routerLink="/profile" type="submit" class="btn" style="background-color:rgb(155, 7, 165);color:white;border-radius:6px;margin-left:73%;box-shadow: 0px 5px 5px rgba(0,0,0,0.2);">Update</button>
  </form>
  <!-- le formulaire des Hrs -->
  <form *ngIf="this.clickForUpdating && bool" class="form" style="width:100%;margin:5vh 1vw" >
    <div style="display:flex;padding-bottom:1vh">
      <input [(ngModel)]="hr.fName" style="background-color:transparent;margin-right:1vw" type="text" class="form-control rounded" id="prenom" name="prenom"  formControlName="prenom" placeholder="First Name">
      <input [(ngModel)]="hr.lName" style="background-color:transparent" type="text" class="form-control rounded" id="nom" name="nom" formControlName="nom" placeholder="Last Name">
      </div>
      <div style="display:flex;padding-bottom:1vh">
      <input  [(ngModel)]="hr.email"  style="background-color:transparent;margin-right:1vw" type="email" class="form-control rounded" id="mail" name="mail"  formControlName="mail" placeholder="Email address">
      <input   [(ngModel)]="hr.password" style="background-color:transparent" type="password" class="form-control rounded" id="pass" name="pass" formControlName="pass" placeholder="Password">
      </div>
      <div style="display:flex;padding-bottom:1vh">
        <input  [(ngModel)]="hr.local" style="background-color:transparent;margin-right:1vw" type="text" class="form-control rounded" id="region" formControlName="region" name="region" placeholder="Localisation of compagny">
        <input  [(ngModel)]="hr.image" style="background-color:transparent" type="text" class="form-control rounded" id="image" name="image" formControlName="image" placeholder="Link of your profile image">
        </div>
        <input  [(ngModel)]="hr.compName" style="background-color:transparent;width:49%" type="text" class="form-control rounded" id="compa" name="compa" formControlName="compa" placeholder="Your compagny name">     
      <button  routerLink="/home"   type="submit" class="btn" style="box-shadow: 0px 5px 5px rgba(0,0,0,0.2);background-color:rgb(155, 7, 165);color:white;border:none;border-radius:6px;margin-left:73%;width:7em;margin-right:1vw">Update</button>
  </form>

</div>
</div>
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-6">


  <!--affichage de stories-->
 
    <div *ngFor="let stry of storyT2" style="margin-bottom:2vh"> 
        <span style="font-size:20px;color:red;float:right;margin-right:2vw;margin-top:12px;"><a (click)="suppSt(stry)">X</a></span>
        <div *ngFor="let stry of storyT2" style="margin-bottom:2vh"> 
          <div style="display:flex;color:#ccc">
            <img src={{stry.image}} class="rounded-circle" style="width:50px;height:60px;margin-right:1vw">
            <p style="color:darkblue;margin-top:2vh"><strong>{{this.stry.name}}</strong> :@<strong>{{stry.compName}} </strong><span style="color:rgb(89, 89, 89)">, {{stry.Sdate}}</span></p>
          </div>
          <div readonly>
            <p style="background-color:white;padding:10px 14px;border-radius:7px">{{stry.contenu}}.</p>
          </div>
        <button (click)="getId(stry)" style="background-color:rgb(241, 200, 232);border-radius:30px;color:black;margin-left:2px;border:none;" type="submit">
          <span id="icon"><i style="color:purple" [class]="stry.icon" ></i></span>
          <span id="count" (click)="addLike()"  style="color:purple;font-weight:bold;">{{stry.likes}}</span>
        </button>    
      </div>
    
</div>
<div class="col-md-4">
 
</div>
</div>
</div>
</div>

<!--affichage de HireList-->

<div  class="container">
 <div class='row'>
<div class="col-md-2"></div>
<div *ngIf="bool" class="col-md-6 rounded" style="border-radius:10px;background-color:rgb(238, 235, 235);">
  <div *ngFor="let hire of HireTable2"  style="background-color:white;margin-bottom:3vh;border-radius:10px;">
    <div style="background-color:white">
      <span style="float:right" class="bttn" style="font-size:22px;margin-right:1vw;color:red;float:right"><a (click)="supphiring(hire)">X</a></span>
      <div style="display:flex">
        <img class="rounded-circle" src={{hire.image}}
          style="margin-right:1vw;width:4%;height:5vh;mix-blend-mode:multiply;margin-top:1vh">
        <h5 style="margin-top:13px;margin-right:1vw">{{hire.compName}}</h5>
        <p style="margin-top:8px;color:#ccc">{{hire.dateH}}
      
        </p>
      </div>
      <p style="padding: 7px 14px ">
        {{hire.contenu}}
      </p>
      <button (click)="getId1(this.hire)"style="background-color:white;border:none;border-radius:30px;color:black;margin-right:2px"type="submit">
        <span id="icon"><i style="color:purple" [class]="hire.icon"></i></span>
        <span id="count" style="color:purple;font-weight:bold;">{{hire.likes}}</span>
      </button>
      <button (click)="commentF()"
        style="background-color:rgb(164, 16, 120);color:white;border:none;border-radius:30px;"
        type="submit">comment
      </button>
      <hr>
    </div>
    <div *ngIf="comment">
    <div style="display:flex;padding-top:2vh">
      <img src={{image}} style="margin-right:2px;width:3%;height:4vh;mix-blend-mode:multiply"
        class="rounded-circle">
      <div class="md-form" style="width:100%">
        <input id="form10" style="border-radius:40px;background-color:white;border-color:#ccc"
          class="md-textarea form-control green-border amber-textarea active-amber-textarea" rows="3"
          placeholder=" add a comment" type="text">
      </div>
    </div>
    <button style="font-weight:1px;margin-left:2vw;background-color:rgb(164, 16, 120);border:none;border-radius:30px;color:white;margin-top:5px;" type="submit">
      publish
    </button>
  </div>
    <!--show comments-->
    <div *ngFor="let cmt of cmtsTable">
      <div *ngIf="cmt.Id2 == hire.Id">
        <div style="display:flex;margin-top:1vh;margin-left:1vw">
          <img src={{cmt.image}} style="margin-right:1px;width:3%;height:5vh;mix-blend-mode:multiply"
            class="rounded-circle">
          <p style="padding:8px 14px;background-color:rgb(238, 235, 235);width:92%;height:auto" class="rounded">
            {{cmt.contenu}}
          </p>
        </div>
      </div>
    </div>
  </div>  
</div>
<div class="col-md-4">
  
</div>
</div>
</div>