<div id="tout">
<div class="container">
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-6 rounded" id="profil">
<div class="couverture">
<img src={{image}} class="rounded-circle">
</div>
<div class="coordonnes">
<h2>{{prenom}} {{nom}}</h2>
<p class="local"> {{fonction}}</p>
<p>{{internService.loggedUser}}</p>

<!-- <p *ngIf="NewbioT[0]">{{NewbioT[0]}}</p> -->
<div class="local">From :{{region}}</div>
</div>
<!-- <input type="text" [(ngModel)]="biog"> -->
<!-- <button (click)="bio()">ok</button> -->
</div>
<div class="col-md-4"></div>
</div>
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-6">
  <!--affichage de stories-->
  <div>
    <div *ngFor="let stry of storyT2" style="margin-bottom:3vh"> 
        <div style="display:flex;color:#ccc">
          <img src={{stry.image}} class="rounded-circle" style="width:45px;height:50px;margin-right:1vw">
          <p style="color:darkblue;margin-top:18vh"><strong>{{this.stry.name}}</strong> :@<strong>{{stry.compName}} </strong><span style="color:rgb(89, 89, 89)">, {{stry.Sdate}}</span><span style="font-size:20px;margin-left:7vw;color:red"><a (click)="suppSt(stry)">X</a></span></p>
          
        </div>
        <div readonly>
          <p style="background-color:rgb(248, 245, 246);padding:10px 14px;border-radius:7px">{{stry.contenu}}.</p>
        </div> 
        <button (click)="getId(stry)" style="background-color:rgb(241, 200, 232);border-radius:30px;color:black;margin-left:2px;border:none;" type="submit">
          <span id="icon"><i style="color:purple" [class]="stry.icon" ></i></span>
          <span id="count" (click)="addLike()"  style="color:purple;font-weight:bold;">{{stry.likes}}</span>
        </button>    
      </div>
    </div>    
</div>
<div class="col-md-4"></div>
</div>
</div>
</div>

<!--affichage de HireList-->

<div  class="container">
 <div class='row'>
<div class="col-md-2"></div>
<div *ngIf="bool" class="col-md-6 rounded" style="border-radius:10px;background-color:rgb(238, 235, 235);padding:10vh 1vw;">
  <div *ngFor="let hire of HireTable2"  style="background-color:white;margin-bottom:3vh;border-radius:10px;padding-bottom:2vh">
    <div style="background-color:white">
      <div style="display:flex">
        <img class="rounded-circle" src={{hire.image}}
          style="margin-right:1vw;width:4%;height:5vh;mix-blend-mode:multiply;margin-top:1vh">
        <h5 style="margin-top:13px;margin-right:1vw">{{hire.compName}}</h5>
        <p style="margin-top:8px;color:#ccc">{{hire.dateH}}
         <span style="font-size:22px;margin-left:10vw;color:red"><a (click)="supphiring(hire)">X</a></span>
        </p>
      </div>
      <p style="padding: 7px 14px ">
        {{hire.contenu}}
      </p>
      <button (click)="getId1(this.hire)"style="background-color:white;border:none;border-radius:30px;color:black;margin-right:2px"type="submit">
        <span id="icon"><i style="color:purple" [class]="hire.icon"></i></span>
        <span id="count" style="color:purple;font-weight:bold;">{{hire.likes}}</span>
      </button>
      <button (click)="commentF()"
        style="background-color:rgb(164, 16, 120);color:white;border:none;border-radius:30px;"
        type="submit">comment
      </button>
      <hr>
    </div>
    <div *ngIf="comment">
    <div style="display:flex;padding-top:2vh">
      <img src={{image}} style="margin-right:2px;width:3%;height:4vh;mix-blend-mode:multiply"
        class="rounded-circle">
      <div class="md-form" style="width:100%">
        <input id="form10" style="border-radius:40px;background-color:white;border-color:#ccc"
          class="md-textarea form-control green-border amber-textarea active-amber-textarea" rows="3"
          placeholder=" add a comment" type="text">
      </div>
    </div>
    <button
      style="margin-left:2vw;background-color:rgb(164, 16, 120);border:none;border-radius:30px;color:white;margin-top:5px;"
      type="submit">
      publish
    </button>
  </div>
    <!--show comments-->
    <div *ngFor="let cmt of cmtsTable">
      <div *ngIf="cmt.Id2 == hire.Id">
        <div style="display:flex;margin-top:1vh;margin-left:1vw">
          <img src={{cmt.image}} style="margin-right:1px;width:3%;height:5vh;mix-blend-mode:multiply"
            class="rounded-circle">
          <p style="padding:8px 14px;background-color:rgb(238, 235, 235);width:92%;height:auto" class="rounded">
            {{cmt.contenu}}
          </p>
        </div>
      </div>
    </div>
  </div>  
</div>
<div class="col-md-4"></div>
</div>
</div>