/* .bg{
    background-image: url('https://img.freepik.com/vecteurs-libre/icone-vecteur-panneau-administration-pour-web_116137-2017.jpg');
    background-repeat: no-repeat;
    background-position:left;
    background-color: rgb(119, 65, 243);
    background-size: contain;
    margin: 2vh 
} */