a  {
    
    font-size: larger;
}

.bg{
    background-image: url('https://thumbs.dreamstime.com/b/ic%C3%B4ne-lin%C3%A9aire-d-administration-logo-moderne-c-ensemble-133515291.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    height:20vh;
    justify-content: center;
}
#nav-home-tab{
   
    font-weight: bold;
}