<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>InternshipStories</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/45e38e596f.js" crossorigin="anonymous"></script>
</head>
<nav>
  <div class="nav" id="nav-tab" role="tablist">
    <a class="active nav-link" id="nav-home-tab" data-toggle="tab" role="tab" aria-controls="nav-home"
      aria-selected="true" >Administration</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" routerLink="/listHRs" role="tab"
      aria-controls="nav-profile" aria-selected="false">HRs</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" routerLink="/listInterns" role="tab"
      aria-controls="nav-contact" aria-selected="false">Interns</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" routerLink="/statics" role="tab"
      aria-controls="nav-contact" aria-selected="false">Statics</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" role="tab" aria-controls="nav-contact"
      *ngIf="internService.isloggedIn" (click)="quit()" class="nav-link">Log out</a>
  </div>
</nav>
<div class="bg"></div>
<div style="height:5vh"></div>
</html>