<div class="dropdown" style="padding:15vh 15vw">
    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown link
    </a>
  
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" routerLink="/listHRs">List of HRs</a></li>
      <li><a class="dropdown-item"routerLink="/listInterns" >List of interns</a></li>
      <li><a class="dropdown-item" routerLink="/statics">Statics</a></li>
      <li class="nav-item ">
        <a *ngIf="authService.isloggedIn" (click)="quit()" class="nav-link" >Log out</a>
      </li>
    </ul>
  </div>





