

.bg{
 
    background-position:center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPBNv_1rWIlX2sCtpGI3-VXLiTCxbZlexTJQ&usqp=CAU');
    background-size:cover;
    background-repeat:no-repeat;
}

.green-border {
    border: 1px solid rgb(164, 16, 120);
}

.green-border:focus {
    border: 1px solid rgb(164, 16, 120);
    box-shadow: 0 0 0 0.2rem rgb(164, 16, 120);
}