<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</head>
<body style="padding-bottom:18vh">
  <div class="container">
    <div class="row" style="margin-top:10vh">
  
      <div class="col-md-5">
        <h1 class="center" style="color:rgb(226, 92, 201)">Welcome,</h1>
        <h4 style="margin-top:3vh" class="center"> to share your InternshipStory</h4>
        <h4 class="center">you shoud <strong>be subscribed</strong>.</h4>
        <p style="margin-top:5vh;padding-right:10%;font-size:larger" class="center">It's a platform dedicated to support internships seekers and make their
        professional experiences more interesting by sharing it with us.</p>
        <div style="display:flex;margin-top:3vh;">

          <a class="nav-link btn"
            style="font-size:larger;width:fit-content;color:white;border-radius:18px;background-color:blueviolet;margin-right:35px"
            routerLink="/signin">sign in</a>
          <a class="nav-link btn"
            style="font-size:larger;width:fit-content;color:blueviolet;border-radius:18px;background-color:white;border-style: solid;border-color: blueviolet;padding-right:10px;padding-left:10px"
            routerLink="/story">Blank</a>
        </div>
      </div>
      <div class="col-md-1"></div> 
      <div class="col-md-6">
        <img src="./assets/homee.JPG" style="width:73%;margin-top:5px;mix-blend-mode: multiply;">
      </div>
      
    </div>
  </div>
</body>

</html>