/* #main{
    background-image: url('https://image.shutterstock.com/image-vector/traineeship-banner-web-icon-vector-260nw-2153439495.jpg');
    background-size:contain;
    background-position:center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    height:70vh;
   
} */
